
<div class="container"  ng-controller="ThingCtrl">
    <h1>{{thing.name}}</h1>

  <div ng-show="isLoggedIn()">

    <a ng-click="deleteThing(thing._id)" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
  </div>

  <div class="col-sm-6" >
    <table class="table table-striped">
      <tbody>
      <tr>
        <td class="col-md-2">Firma nimi:</td>
        <td class="col-md-8"><img class="pull-right" width="60" height="60" src="static/images/face.png" fallback-src /><br><br><br>
          <span class="pull-right">{{thing.company}}</span></td>

      </tr>

      <tr>
        <td class="col-md-2">Kontaktisik:</td>
        <td class="col-md-8" ng-show="isLoggedIn()">{{thing.contact}}</td>
        <td class="col-md-8" ng-hide="isLoggedIn()" ><a href="/login">Logi sisse</a> või <a href="/signup">registreeru</a> et näha</td>
      </tr>

      <tr>
        <td class="col-md-2">Telefon:</td>
        <td class="col-md-8" ng-show="isLoggedIn()">{{thing.phone}}</td>
        <td class="col-md-8" ng-hide="isLoggedIn()" ><a href="/login">Logi sisse</a> või <a href="/signup">registreeru</a> et näha</td>
      </tr>

      <tr>
        <td class="col-md-2">E-post:</td>
        <td class="col-md-8" ng-show="isLoggedIn()">{{thing.email}}</td>
        <td class="col-md-8" ng-hide="isLoggedIn()" ><a href="/login">Logi sisse</a> või <a href="/signup">registreeru</a> et näha</td>
      </tr>

      <tr>
        <td class="col-md-2">Veo kuupäev:</td>
        <td class="col-md-8">{{thing.date}}</td>
      </tr>

      <tr>
        <td class="col-md-2">Kauba nimetus:</td>
        <td class="col-md-8">{{thing.name}}</td>
      </tr>

      <tr>
        <td class="col-md-2">Aluste arv:</td>
        <td class="col-md-8">{{thing.pallets}}</td>
      </tr>

      <tr>
        <td class="col-md-2">CBM arv:</td>
        <td class="col-md-8">{{thing.volume}}</td>
      </tr>

      <tr>
        <td class="col-md-2">Kauba kogukaal:</td>
        <td class="col-md-8">{{thing.weight}}</td>
      </tr>

      <tr>
        <td class="col-md-2">Start:</td>
        <td class="col-md-8"><h4><strong>{{thing.route_start}}</strong></h4></td>

      </tr>
      <tr>
        <td class="col-md-2">Finish:</td>
        <td class=""><h4><strong>{{thing.route_end}}</strong></h4></td>
      </tr>
      <!--<tr>-->
        <!--<td class="col-md-2">Väljumine aadress: </td>-->
        <!--<td>{{thing.source_address.formatted_address}}</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="col-md-2">Tarne aadress:</td>-->
        <!--<td>{{thing.dest_address.formatted_address}}</td>-->
      <!--</tr>-->
      <tr>
        <td class="col-md-2">Hind:</td>
        <td class="col-md-8"><h4><strong>{{thing.price}}</strong></h4></td>

      </tr>

      </tbody>
    </table>
  </div>

  <div class="col-sm-6">
    <map center="58.6, 24.0" zoom="6">

    <!--<marker position="{{thing.position}}" ng-repeat="thing in Things"></marker>-->

  </map>

  </div>


    <div class="col-sm-6" >
      <h3>Lisainfo:</h3>
      <div style="white-space:pre-wrap; word-wrap: break-word;"> {{thing.info}}</div>
    </div>



</div>
