<div class="pull-right stats" ng-controller="StatisticCtrl">
  <div class="text-right"><h2>Meie statistika</h2></div>
  <hr>
  <div class="text-right"><span ng-bind="Statistics.users_count" style="color: red;"></span> registreerunud kasutajat</div>
  <hr>
  <div class="text-right"><span ng-bind="Statistics.things_count" style="color: red;"></span> registreerunud kaubaruumi</div>
  <hr>
  <div class="text-right"><span ng-bind="Statistics.trucks_count" style="color: red;"></span> registreerunud transpordi</div>
</div>
