<div class="pull-right stats" ng-controller="StatisticCtrl">
  <div class="text-right"><h2 translate="Statistics.Header"></h2></div>
  <!--<hr>-->
  <div class="text-right"><span ng-bind="Statistics.users_count" style="color: red;"></span>&nbsp;<span translate="Statistics.Users"></span></div>
  <!--<hr>-->
  <div class="text-right"><span ng-bind="Statistics.things_count" style="color: red;"></span>&nbsp;<span translate="Statistics.Loads"></span></div>
  <!--<hr>-->
  <div class="text-right"><span ng-bind="Statistics.trucks_count" style="color: red;"></span>&nbsp;<span translate="Statistics.Trucks"></span></div>
</div>
