
<div class="wedo">
  <div class="container">
    <div class="wedo-main">


      <div class="we-do-top">
        <div>
          <h3 translate="Loads.Header"></h3>
        </div>
        <div class="clearfix"> </div><br><br>

        <div class="col-md-6">
          <p><h4 translate="Loads.Trucks"></h4></p>
          <table class="table table-striped">
            <thead>
            <tr>
              <td class="col-md-2 text-left"><h4><strong translate="Loads.Name"></strong></h4></td>
              <td class="col-md-4 text-left"><h4><strong translate="Loads.Route"></strong></h4></td>
              <td class="col-md-2 text-left"><h4><strong translate="Loads.Info"></strong></h4></td>
              <td class="col-md-4"></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="truck in Trucks.things" >
              <td class="col-md-2 text-left"><strong ng-bind-html="load.name"></strong></td>
              <td class="col-md-4 text-left"><strong>{{truck.route_start}} - {{truck.route_end}}</strong></td>
              <td class="col-md-2 text-left" >{{truck.info | limitTo: 40}}{{truck.info.length > 40 ? '...' : ''}}</td>
              <td class="col-md-4"><a ng-href="/truck/{{truck._id}}" class="buy">{{ 'LOOK' | translate }}</a></td>
            </tr>
            </tbody>
          </table>
        </div>


        <div class="col-md-6">
          <p><h4 translate="Loads.Loads"></h4></p>
          <table class="table table-striped">
            <thead>
            <tr>
              <td class="col-md-2 text-left"><h4><strong translate="Loads.Name"></strong></h4></td>
              <td class="col-md-4 text-left"><h4><strong translate="Loads.Route"></strong></h4></td>
              <td class="col-md-2 text-left"><h4><strong translate="Loads.Info"></strong></h4></td>
              <td class="col-md-4"></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="load in Loads.things" >
              <td class="col-md-2 text-left"><strong ng-bind-html="load.name"></strong></td>
              <td class="col-md-4 text-left"><strong>{{load.route_start}} - {{load.route_end}}</strong></td>
              <td class="col-md-2 text-left" >{{load.info | limitTo: 40}}{{load.info.length > 40 ? '...' : ''}}</td>
              <td class="col-md-4"><a ng-href="/thing/{{load._id}}" class="buy">{{ 'LOOK' | translate }}</a></td>
            </tr>
            </tbody>
          </table>
        </div>



        <div class="clearfix"> </div>
      </div>


      <div class="clearfix"> </div>
    </div>



    <div>

    </div>
  </div>
</div>


