<div class="wedo">
  <div class="container" ng-controller="SearchCtrl">
    <div class="wedo-main">


      <div class="we-do-top">

        <div>
          <h1>Otsi vaba transport või kaubaruumi, <br>helista klientile ja sõida mõni hetke pärast!</h1>
        </div>

        <div class="clearfix"> </div>

      </div>



      <div class="col-md-3 col-md-offset-3 text-left" ng-hide="search">

        <form >
          <div>
            <input checked="" type="radio" name="request_type" id="req_transport" value="transport" ng-model="request.type">
            <label for="req_transport">Transpordi päring</label>
          </div>
          <div>
            <input type="radio" name="request_type" id="req_load" value="load" ng-model="request.type">
            <label for="req_load">Kaubaruumi päring</label></div>

          <div>
            <button class="btn btn-info" type="button" ng-click="makeRequest()">Edasi
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
          </div>

        </form>

      </div>


    </div>





    <div>

    </div>
  </div>
</div>


